results/*
.deepeval/*
.vscode/*
.codebuddy/*
__pycache__/*
*.pyc
*.log
dataset/*
tmp/*
evaluators/metrics/mcptoolbenchpp/*
.python-version
.env
LICENSE_CN.md
PIPENV_USAGE.md
uv.lock
trace/*
.DS_Store
config.yaml
.cache/*
.tmp/*
example_dataset/mcptask/testcase1.csv
*.json
build/*
agent_test*.csv
agent_test*.html
analysis*.csv
analysis*.html
*.egg-info